/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}
#box {
    float: left;
    height: 52px;
    margin-left: 0%;
    margin-top: -1px;
    clear: none;
    width: 99.99186103012634%;
}
#box1 {
    float: left;
    height: 289px;
    margin-left: 0.10906023283279906%;
    margin-top: 0px;
    clear: both;
    width: 99.99186103012634%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
#box4 {
    float: left;
    height: 1069px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 99.99095663910916%;
}
#box2 {
    float: left;
    height: 186px;
    margin-left: 9.396328293736502%;
    margin-top: 65px;
    clear: none;
    width: 19.43908883826879%;
}
#text {
    float: none;
    font-size: 100%;
    width: 87.22777777777777%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 100%;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 5px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    border-style: none;
    border-width: 1px 1px 0px;
    margin-right: auto;
}
#box3 {
    float: left;
    height: 186px;
    margin-left: 10.205983295368263%;
    margin-top: 66px;
    clear: none;
    width: 19.43908883826879%;
}
#text2 {
    float: none;
    font-size: 1em;
    width: 87.22777777777777%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 5px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#image {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 6px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#image1 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 5px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#box5 {
    float: left;
    height: 186px;
    margin-left: 27.50590736522399%;
    margin-top: 18px;
    clear: both;
    width: 19.43908883826879%;
}
#text4 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#image2 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#reflow-158d3258-5dab-4dc3-4251-14293ee4e079 {
    float: left;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.5%;
    margin-top: 4px;
    clear: both;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
}
#reflow-963b51f0-97ac-69ce-4d38-ade7a315784e {
    margin-top: 0px;
    margin-left: 0px;
    clear: none;
    width: 99.99095663910916%;
    visibility: hidden;
}
#reflow-2de7a9ce-be7b-22d2-f23d-6f12413c52b9 {
    margin-top: 0px;
    margin-left: 0px;
    visibility: hidden;
}
#box6 {
    float: left;
    height: 186px;
    margin-left: 4.374548215641609%;
    margin-top: 18px;
    clear: none;
    width: 19.43908883826879%;
}
#image3 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text5 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#reflow-75e916ab-dd4d-b736-5ee1-7733061977bc {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#reflow-a1f7b854-ad4d-29d1-9471-217c673eaec4 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#reflow-d206609f-44bf-1c08-f061-a2f9aa638e44 {
    float: left;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.5%;
    margin-top: 4px;
    clear: both;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
}
#reflow-8fc277ce-ce8c-6ccb-3e4f-defab907a721 {
    float: left;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.5%;
    margin-top: 4px;
    clear: both;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
}
#reflow-99fcecec-f1ea-82f9-8ad2-1104b538daa7 {
    float: left;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.5%;
    margin-top: 4px;
    clear: both;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
}
#reflow-66de7997-1d75-1da3-e939-e71d008197b7 {
    float: left;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.5%;
    margin-top: 4px;
    clear: both;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
}
#reflow-3eadd09f-b270-a24f-1aaf-aee1ea526915 {
    margin-top: 0px;
    margin-left: 0px;
    clear: none;
    width: 99.99095663910916%;
    visibility: hidden;
}
#box8 {
    float: left;
    height: 186px;
    margin-left: 4.277357630979499%;
    margin-top: 27px;
    clear: none;
    width: 19.43908883826879%;
}
#image5 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text7 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box7 {
    float: left;
    height: 186px;
    margin-left: 3.7914047076689448%;
    margin-top: 27px;
    clear: both;
    width: 19.43908883826879%;
}
#image4 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text6 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box9 {
    float: left;
    height: 186px;
    margin-left: 4.277357630979499%;
    margin-top: 27px;
    clear: none;
    width: 19.43908883826879%;
}
#image6 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text8 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box10 {
    float: left;
    height: 186px;
    margin-left: 4.957691723614275%;
    margin-top: 27px;
    clear: none;
    width: 19.43908883826879%;
}
#image7 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 8px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text9 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 3px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box11 {
    float: left;
    height: 186px;
    margin-left: 3.7914047076689448%;
    margin-top: 27px;
    clear: both;
    width: 19.43908883826879%;
}
#image8 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text10 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box12 {
    float: left;
    height: 186px;
    margin-left: 4.277357630979499%;
    margin-top: 27px;
    clear: none;
    width: 19.43908883826879%;
}
#image9 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text11 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box13 {
    float: left;
    height: 186px;
    margin-left: 4.277357630979499%;
    margin-top: 27px;
    clear: none;
    width: 19.43908883826879%;
}
#image10 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 12.5%;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
}
#text12 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box14 {
    float: left;
    height: 186px;
    margin-left: 4.957691723614275%;
    margin-top: 27px;
    clear: none;
    width: 19.43908883826879%;
}
#image11 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text13 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#reflow-76357537-b5aa-1f31-a164-6b960376bca4 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#reflow-d05e1bf3-b944-07cf-bbf5-41f35ca83ead {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#reflow-abcd8fef-e1dd-8397-4cd5-a955c2dfe92f {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#text1 {
    float: left;
    font-size: 24px;
    width: 22.45199696279423%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 100%;
    word-wrap: break-word;
    margin-left: 10.497555049354593%;
    margin-top: 122px;
    clear: none;
    min-height: 0px;
    min-width: 0.7784965831435079%;
    max-width: none;
    max-height: none;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    color: rgb(20, 0, 255);
    letter-spacing: normal;
    text-indent: 0%;
    text-shadow: rgb(0, 186, 255) 0px 3px 3px;
}
#text3 {
    float: none;
    font-size: 24px;
    width: 19.050326499620347%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 100%;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 12px;
    clear: none;
    min-height: 27px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    color: rgb(20, 0, 255);
    letter-spacing: normal;
    text-indent: 0%;
    text-shadow: rgb(0, 186, 255) 0px 3px 3px;
    margin-right: auto;
}
#box15 {
    float: left;
    height: 186px;
    margin-left: 27.50590736522399%;
    margin-top: 27px;
    clear: both;
    width: 19.43908883826879%;
}
#image12 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text14 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box16 {
    float: left;
    height: 186px;
    margin-left: 4.180167046317388%;
    margin-top: 27px;
    clear: none;
    width: 19.43908883826879%;
}
#image13 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}
#text15 {
    float: none;
    font-size: 1em;
    width: 87.2265625%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 22px;
    color: rgb(49, 0, 255);
    font-style: normal;
    text-transform: uppercase;
    margin-right: auto;
}
#box17 {
    float: left;
    height: 37px;
    margin-left: 42.701047835990884%;
    margin-top: 93px;
    clear: both;
    width: 14.676750189825361%;
    background-color: rgb(0, 186, 255);
}
