@charset "utf-8";
.input 
{
	width:450px;
	height:30px;
	font-size:24px;
	margin:18px;
	color:#FF5700;
	box-shadow: rgb(0, 196, 255) 0px 2px 3px 0px;
	background-color:transparent;
	text-align:center;
    font-weight: normal;
    clear: none;
    border: 0px solid rgb(0, 216, 255);
	
}
.inputreg
{
	width:450px;
	height:33px;
	font-size:28px;
	margin:18px;
	color:#FFFFFF;
	box-shadow: rgb(0, 196, 255) 0px 4px 5px 0px;
	background-color:transparent;
	text-align:center;
    font-weight:bold;
    clear: none;
    border: 0px solid rgb(0, 216, 255);
	 animation:myfirst 8s linear infinite;
-moz-animation:myfirst 8s linear infinite; /* Firefox */
-webkit-animation:myfirst 8s linear infinite; /* Safari and Chrome */
-o-animation:myfirst 8s linear infinite; /* Opera */

}
.input:hover
{
	box-shadow: rgb(10, 156, 255) 0px 4px 5px 0px;
	
}
.inputname
{
	color:#000000;
	margin:12px;
	font-weight:bolder;
	font-size:24px;
}
.inputname:hover
{
	color:#008CFF;
}
	
.options
{
	background-color:#000000;
	color:#FF5F00;
	
	box-shadow: rgb(80, 196, 255) 0px 2px 3px 0px;
	clear:none;
	float:left;
}

.dept
{
	width:450px;
	height:35px;
	float:left;
	margin:18px;
	font-size:24px;
	color:#00FF0D;
	box-shadow: rgb(0, 196, 255) 0px 2px 3px 0px;
	background-color:transparent;
	text-align:center;
    font-weight: normal;
    clear: none;
    border: 0px solid rgb(0, 129, 255);
	
	
}
.menu
{
	font-size:34px;
	font-weight:bolder;
}
.menu:hover
{
	color:#FF4F00;
}

.memberslist
{
	float: left;
    height: 540px;
    margin-top:30px;
	margin-bottom:30px;
	clear: none;
    width: 100%;
	background-color:#FFFFFF;
	
    
}
.menutext
{
	font-size:100%;
	
	
	font-weight:bolder;
	float:right;
	padding-right:8px;
	padding-left:12px;
	
}
.singlemenu
{
	margin-left:2px;
	padding-right:8px;
	padding-left:12px;
	-webkit-transition: padding-bottom 0.8s; /* For Safari 3.1 to 6.0 */
    transition: padding-bottom .8s;
	
}
.singlemenu:hover
{
	padding-top:29px;
	padding-bottom:32px;
	color:#FFFFFF;
	margin-top:-1px;	
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	background-color:#FF6700;
}
.ssnsize{
	width:5%;
	height:2%;
}


.date
{
color:#FFFFFF;
border-bottom-left-radius:12px;
border-top-left-radius:12px;
 animation:myfirst 5s linear infinite;
-moz-animation:myfirst 5s linear infinite; /* Firefox */
-webkit-animation:myfirst 5s linear infinite; /* Safari and Chrome */
-o-animation:myfirst 5s linear infinite; /* Opera */
}
	

@keyframes myfirst
{
0%,100%   {background:red;}
25%  {background:yellow;}
50%  {background:blue;}
75% {background:green;}

}

@-moz-keyframes myfirst /* Firefox */
{
0%,100%   {background:red;}
25%  {background:yellow;}
50%  {background:blue;}
75% {background:green;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%,100%   {background:red;}
25%  {background:yellow;}
50%  {background:blue;}
75% {background:green;}
}

@-o-keyframes myfirst /* Opera */
{
0%,100%   {background:red;}
25%  {background:yellow;}
50%  {background:blue;}
75% {background:green;}
}
